.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 280px;
  padding: 2rem;
  background-color: var(--color-navy);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding: 1rem;
  }
}
